<footer class="footer">
  <div class="content has-text-centered">
    <p>
        <span class="icon">
            <i class="far fa-copyright"></i>
        </span>
        <span>2019</span> 
        <span class="icon">
            <i class="far fa-user"></i>
        </span>
        <span>cmlanche</span>
    </p>
    <p>
      Published with <a href="https://ghost.org"><strong>Ghost</strong></a> | 主题 - <a href="https://github.com/cmlanche/ghost-next-theme"><strong>ghost-theme-next</strong></a> v-0.0.7
    </p>
  </div>
</footer>