{{!< default}}

<div class="site-wrapper container">

    <div class="columns">
        <div class="column">
            <section class="error-message has-text-centered">
                <h1 class="title error-code">{{code}}</h1>
                <p class="subtitle error-description">{{message}}</p>
                <a class="error-link" href="{{@site.url}}">Go to the front page →</a>

                {{>footer}}
            </section>
        </div>
    </div>

</div>
