{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="container">

    <div class="columns">
        {{!-- 左侧导航栏 --}}
        <div class="column is-one-quarter">
            {{> "site-nav"}}
        </div>

        {{!-- 右侧主题栏 --}}
        <div class="column">
            <div class="post-list">
            
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
            </div>
        </div>
    </div>
    
</main>
