{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div class="tag-page container">
    <div class="columns">
        <div class="column is-one-quarter">
            {{> "site-nav"}}
        </div>

        <div class="column">
            {{#tag}}
            <div class="site-header-content has-text-centered">
                <h1 class="site-title">{{name}}</h1>
                <h2 class="site-description">
                    {{#if description}}
                        {{description}}
                    {{else}}
                        共计<strong>{{plural ../pagination.total empty=' 0 ' singular=' % ' plural=' % '}}</strong>篇文章
                    {{/if}}
                </h2>
            </div>
            {{/tag}}

            <div class="post-feed">
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>

            {{> footer}}
        </div>

    </div>
</div>
