body {
    background: #f5f7f9;
}

/* 左侧导航栏 */
.site-nav {
}

.site-nav .site-title {
    text-align: center;
    background: #222222;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .site-title .title {
    color: white;
}

.site-nav .site-aside {
    padding-top: 16px;
    padding-bottom: 16px;
    background: white;
}

.site-nav .site-user {
    background: white;
    margin: 16px 0;
    padding: 32px 16px;
}

.site-nav .site-user .author-name {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin: 8px 0 4px 0;
}

.site-nav .site-user .author-bio {
    font-size: 13px;
    font-weight: normal;
    color: #555555;
}


/* 主页右侧文章列表 */
.post-list {
    background: white;
}

.post-card {
    padding: 72px 48px;
}

.post-card .post-meta {
    margin-top: 12px;
    margin-bottom: 30px;
}

.post-card .post-meta .icon{
    margin-left: 8px;
}

.post-card .post-card-header .post-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.post-card .author-list {
    margin-bottom: 24px;
    text-align: center;
}

.post-card .post-card-content .post-card-excerpt {
    font-size: 14px;
    line-height: 2;
    color: #555555;
}

.post-card .post-card-content .button {
    margin-top: 48px;
}

/* 文章页面 */
.post {
    padding: 48px 0;
    background: white;
}

.post .title {
    margin-bottom: .75rem;
}

.post .post-full-meta {
    margin-bottom: 1.5rem;
}