body {
    background: #f5f7f9;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    -webkit-overflow-scrolling: touch;
    min-height: 100vh;
}

hr {
    margin: 0;
}

.container {
    overflow: hidden;
}

.site-wrapper {
    
}

/* 左侧导航栏 */
.site-nav {
}

.site-nav .site-title {
    text-align: center;
    background: #222222;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .site-title .title {
    color: white;
}

.site-nav .site-aside {
    padding-top: 16px;
    padding-bottom: 16px;
    background: white;
}

.site-nav .site-user, .site-logo {
    background: white;
    margin: 16px 0;
    padding: 32px 16px;
}

.site-nav .site-user .author-name {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin: 8px 0 4px 0;
}

.site-nav .site-user .author-bio {
    font-size: 13px;
    font-weight: normal;
    color: #555555;
}

.site-nav .site-logo .image {
    max-width: 128px;
    height: auto;
}


/* 主页右侧文章列表 */
.post-list {
    background: white;
}

.post-card {
    
}

.post .post-meta {
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: .75rem;
    color: #a1a1a1;
}

.post-card .post-meta .icon{
    margin-left: 8px;
}

.post-card .post-card-header {
    margin-left: 16px;
    margin-right: 16px;
}

.post-card .post-card-header .post-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color:#555555;
}

.post-card .author-list {
    margin-bottom: 24px;
    text-align: center;
}

.post-card .post-card-content .post-card-excerpt {
    font-size: 16px;
    line-height: 2;
    color: #555555;
    margin: 4px 48px;
}

.post-card .post-card-content .button {
    margin-top: 48px;
}

/* 文章页面 */
.post {
    padding: 72px 0 24px 0;
    background: white;
}

.post .post-full-header {
    padding: 0 48px;
}

.post .post-full-content {
    padding: 0 48px;;
}

.post .title {
    margin-bottom: .75rem;
    font-size: 24px;
    font-weight: bold;
}

.post .post-full-meta {
    margin-bottom: 1.5rem;
}

.post .post-full .title{
    color: #555555;
}

.post .post-full .post-full-footer {
    margin: 48px 0;
    padding: 0 48px;;
}

.post .post-full .post-card-tags {
    color: #a1a1a1;
}

a.edit-post {
    margin: 16px;
    color: #222222;
}

.author-card .author-card-content {
    margin-left: 16px;
}

.pagination-wrapper {
    padding: 2rem;
}

/* 标签页 */
.tag-page .site-header-content {
    margin: 16px auto;
    background-color: white;
    padding: 16px;
}

.tag-page .site-header-content .site-title {
    font-weight: bold;
    font-size: 18px;
    color: #555555;
}

.footer {
    background: transparent;
    color: #999999;
    font-size: 13px;
}

.post-feed {
    background: white;
}

/* 移动端适配 */
@media (max-width: 768px) {
    .post-card{
        padding-top: 32px;
    }

    .post-card .post-card-header {
        margin-left: 16px;
        margin-right: 16px;
    }

    .post-card .post-card-header .post-card-title {
        font-size: 18px;
    }

    .post-card .post-card-content .post-card-excerpt{
        margin: 0 16px;
    }

    .sticky-wrapper {
        display: none;
    }

    .post .post-full-header {
        padding: 0 8px;;
    }

    .post .post-full-content {
        padding: 0 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .post .post-full .post-full-header .title {
        font-size: 18px;
    }

    .post .post-full .post-full-footer {
        padding: 0 24px;
    }
}